:root {
    --main-bg-color: #fff;
    --secondary-active-color: #212121;
    --color-logo: #2196F3;
    --button-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --paragraph-color1: #757575;
    --footer-address-color: #fff;
    --footer-address-color: rgba(255, 255, 255, 0.6);

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--secondary-active-color);
}

/* Header/Footer hover and focus*/
header:hover, 
footer:hover,
    header:focus, 
    footer:focus{
        color: var(--color-logo);
}

/* Logo */

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    color: var(--color-logo);
}

.port-page, .studio-page {
    color: var(--color-logo);
}

.navbar {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
}

.header-address {
    color: var(--paragraph-color1);
}

ul {
    list-style-type: none;
}

/* Letter-spacing */
.btn, 
.logo, 
footer, 
p {
    letter-spacing: 0.03em;
}

/* Buttons */

.btn {
    font-weight: 500;
    line-height: 1.625;
    background-color: var(--button-color);
    color: var(--secondary-active-color);
    cursor: pointer;
}

/* Heading & Paragraph 
    default font-weight: 400;
    default font-size: 16px;
    default font-style: normal;
*/

h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

p {
    line-height: 1.875; 
    letter-spacing: 0.03em;
    color: var(--paragraph-color1);
}

/* Footer */

.footer-address {
    color: var(--footer-address-color);
}

.tel-mail {
    color: var(--footer-address-color);
}
